[defaults]
inventory = ./inventory/hosts.yml
remote_user = vagrant
forks = 5
interpreter_python = /usr/bin/python3
host_key_checking = false

[privilege_escalation]
become = true
become_user = root
become_method = sudo

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -i /root/.ssh/ssh_key
